mixin img(src = imageTransparent, alt)
  - const _src = translateAssetPath(src)
  - const _alt = alt || _src.slice(_src.lastIndexOf('/') + 1)
  img(src=_src alt=_alt)&attributes(attributes)

mixin picture(sources, alt)
  picture&attributes(picAttrs)
    each source, breakpoint in sources
      - const src = typeof source === 'string' ? source : (source.src || imageTransparent)
      if breakpoint === 'default'
        +img(src, alt)&attributes(attributes)
      else
        source(media=`(max-width: ${breakpoint}px)` srcset=translateAssetPath(src) type=source.type)
