mixin img(src = imageTransparent, alt)
  - alt = alt || src.slice(src.lastIndexOf('/') + 1)
  img(src=src alt=alt)&attributes(attributes)

mixin picture(sources, alt)
  picture&attributes(picAttrs)
    each source in sources
      - const src = source.src || imageTransparent
      - const media = source.media
      if media
        if media === 'default'
          +img(src, alt)&attributes(attributes)
        else
          source(media=media srcset=src type=source.type)
