mixin img(src = imageTransparent, alt = src.slice(src.lastIndexOf('/') + 1), href, linkAttrs)
  if href
    +link(href, alt)&attributes(linkAttrs)
      img(src=src alt=alt)&attributes(attributes)
  else
    img(src=src alt=alt)&attributes(attributes)

mixin picture(media, alt, picAttrs)
  picture&attributes(picAttrs)
    each source in media
      - source.src = source.src || imageTransparent
      if source.media === 'default'
        +img(source.src, alt)&attributes(attributes)
      else if source.media
        source(media=source.media srcset=source.src type=source.type)

mixin simple-pic(srcD, srcM, alt, picAttrs)
  -
    let media = [{
      media: '(max-width: 991px)',
      src: srcM
    }, {
      media: 'default',
      src: srcD
    }]

  +picture(media, alt, picAttrs)&attributes(attributes)
